<section class="about">
  <div class="about__top">
    <div class="wrapper">
      <h2 class="about__title">Почему более 98% клиентов возвращаются в “Мир матрацев” повторно и рекомендуют компанию
        друзьям?</h2>
    </div>
  </div>
  <div class="about__content">
    <div class="wrapper">
      <ul class="about__list about-list">
        <li class="about-list__item">
          <h3 class="about-list__title">
            Работаем с 2001 года.
          </h3>
          <p class="about-list__text">
            Имеем безупречную репутацию – бесплатно консультируем, помогаем с выбором или проектированием изделий,
            всегда
            находимся
            на связи.
          </p>
        </li>
        <li class="about-list__item">
          <h3 class="about-list__title">
            Работаем для долгосрочного сотрудничества.
          </h3>
          <p class="about-list__text">
            Идем навстречу клиентам – предлагаем скидки в 5% на день рождение (и за 3 дня до и после него), молодоженам
            (в
            течение 6
            месяцев со дня свадьбы), пенсионерам.
          </p>
        </li>
        <li class="about-list__item">
          <h3 class="about-list__title">
            Продажа дизайнерской мягкой мебели.
          </h3>
          <p class="about-list__text">
            В каталоге фабрики представлено более 30 кроватей и диванов, готовых для заказа. Ежедневно наши сотрудники
            пополняют
            ассортимент – расширяют линейку моделей.
          </p>
        </li>
      </ul>
    </div>

  </div>
</section>