<section class="catalog">
  <div class="catalog__inner">
    <h2 class="catalog__title">Каталог наших изделий</h2>
    <div class="catalog__content">
      <div class="wrapper">
        <ul class="catalog__list catalog-list">
          <li class="catalog-list__item catalog-list__item--big">
            <div class="catalog-list__image">
              <img src="../images/catalog-img-01.webp" alt="диван">
            </div>
            <div class="catalog-list__text">
              <p class="catalog-list__name">диван</p>
              <p class="catalog-list__prise">Цена от 38.000₽</p>
            </div>
            <a href="#" class="catalog-list__link">перейти в каталог</a>
          </li>
          <li class="catalog-list__item">
            <div class="catalog-list__image">
              <img src="../images/catalog-img-02.webp" alt="кровать">
            </div>
            <div class="catalog-list__text">
              <p class="catalog-list__name">Модульная кровать</p>
              <p class="catalog-list__prise">Цена от 40.000₽</p>
            </div>
            <a href="#" class="catalog-list__link">перейти в каталог</a>
          </li>
          <li class="catalog-list__item">
            <div class="catalog-list__image">
              <img src="../images/catalog-img-03.webp" alt="3D стежка">
            </div>
            <div class="catalog-list__text">
              <p class="catalog-list__name">3D стежка</p>
              <p class="catalog-list__prise">Цена от 25.000₽</p>
            </div>
            <a href="#" class="catalog-list__link">перейти в каталог</a>
          </li>
          <li class="catalog-list__item">
            <div class="catalog-list__image">
              <img src="../images/catalog-img-04.webp" alt="Матрац с пружинным блоком Боннель">
            </div>
            <div class="catalog-list__text">
              <p class="catalog-list__name">Матрац с пружинным блоком Боннель</p>
              <p class="catalog-list__prise">Цена от 17.000₽</p>
            </div>
            <a href="#" class="catalog-list__link">перейти в каталог</a>
          </li>
          <li class="catalog-list__item">
            <div class="catalog-list__image">
              <img src="../images/catalog-img-05.webp" alt="Матрац с блоком независимых пружин ">
            </div>
            <div class="catalog-list__text">
              <p class="catalog-list__name">Матрац с блоком независимых пружин</p>
              <p class="catalog-list__prise">Цена от 18.000₽</p>
            </div>
            <a href="#" class="catalog-list__link">перейти в каталог</a>
          </li>
          <li class="catalog-list__item catalog-list__item--big">
            <div class="catalog-list__image">
              <img src="../images/catalog-img-06.webp" alt="Фигурное изголовье">
            </div>
            <div class="catalog-list__text">
              <p class="catalog-list__name">Фигурное изголовье</p>
              <p class="catalog-list__prise">Цена от 34.000₽</p>
            </div>
            <a href="#" class="catalog-list__link">перейти в каталог</a>
          </li>          
        </ul>
      </div>
    </div>
  </div>
</section>