<footer class="footer">
  <div class="wrapper">
    <div class="footer__inner">
      <div class="footer__column">
        <a href="#" class="footer__logo">
          <img src="../images/footer-logo.webp" alt="мир матрацев">
        </a>
        <p class="footer__text">Фабрика Мир матрацев – позаботимся о вашем здоровом и крепком сне.</p>
      </div>
      <div class="footer__column">
        <h3 class="footer__title">аДРЕС</h3>
        <address class="footer__address">
          г. Пенза Т.Ц «Метросити»
          ул. Карпинского, д. 39
          этаж 2, кабинет 18
        </address>
      </div>
      <div class="footer__column">
        <h3 class="footer__title">контакты</h3>
        <p class="footer__phone">тел: <a href="tel:+7(915)2535577" class="footer__link">+7 (915) 253-55-77</a></p>
      </div>
    </div>
  </div>
</footer>