<section class="hero">
  <div class="wrapper">
    <div class="hero__inner">
      <div class="hero__column">
        <h1 class="hero__title">Рассчитайте стоимость самого <span class="highlighting">выгодного предложения</span> от
          фабрики «Мир Матрацев» прямо сейчас</h1>
        <p class="hero__text">Ответьте на несколько вопросов и получите:</p>
        <ul class="hero__list hero-list">
          <li class="hero-list__item">
            <p class="hero-list__item-number highlighting">01</p>
            <p class="hero-list__item-text">Расчет стоимости матраца или кровати</p>
          </li>
          <li class="hero-list__item">
            <p class="hero-list__item-number highlighting">02</p>
            <p class="hero-list__item-text">Каталог лучших изделий фабрики</p>
          </li>
          <li class="hero-list__item">
            <p class="hero-list__item-number highlighting">03</p>
            <p class="hero-list__item-text">Консультацию наших ведущих специалистов</p>
          </li>
        </ul>
        <a href="#quizPopup" class="hero__btn popup-link">рассчитать</a>
      </div>
      <div class="hero__column hero__column--right">
        <div class="hero__callback-box">
          <a href="tel:+79152535577" class="hero__phone-link">+7 915 253-55-77</a>
          <p class="hero__subtext-phone">прямая консультация
            с руководителем отдела продаж</p>
        </div>
        <div class="hero__image">
          <img src="../images/hero-bg-image.webp" alt="#">
        </div>
      </div>
    </div>
  </div>
</section>