<div class="popup" id="quizPopup">
  <div class="popup__body">
    <div class="popup__content">
      <div class="quiz-slider">
        <div class="quiz">
          <div class="quiz__wrapper">
            <div class="quiz__column">
              <div class="quiz__aside">
                <div class="quiz__aside-column">
                  <p class="quiz__aside-text">До получения подарка осталось ответить на</p>
                  <p class="quiz__aside-number">5 ВОПРОСов</p>
                </div>
                <div class="quiz__aside-column">
                  <div class="quiz__aside-image">
                    <img src="../images/popup-img.webp" alt="подарок">
                  </div>
                </div>
              </div>
            </div>
      
      
            <div class="quiz__column quiz-content">
              <div class="quiz__header">
                <a href="#" class="quiz__link close-popup">x</a>
              </div>
              <div class="quiz__content">
                <div class="quiz__content-top">
                  <h2 class="quiz__content-title">Что Вы планируете приобрести?</h2>
                  <div class="quiz__content-numbers">
                    <span class="quiz__content-number">01/</span>
                    <span class="quiz__content-number">06</span>
                  </div>
                </div>
                <div class="quiz__content-box">
                  <ul class="quiz__content-list quiz-list">
                    <li class="quiz-list__item">
                      <input type="checkbox" name="badmotraz" id="badMotraz" class="quiz-list__input">
                      <label for="badMotraz" class="quiz-list__card">
                        <div class="quiz-list__images">
                          <img src="../images/popup-img-01.webp" alt="Кровать + матрац">
                        </div>
                        <p class="quiz-list__text">Кровать + матрац</p>
                      </label>
                    </li>
                    <li class="quiz-list__item">
                      <input type="checkbox" name="bad" id="bad" class="quiz-list__input">
                      <label for="bad" class="quiz-list__card">
                        <div class="quiz-list__images">
                          <img src="../images/popup-img-02.webp" alt="Отдельно кровать ">
                        </div>
                        <p class="quiz-list__text">Отдельно кровать</p>
                      </label>
                    </li>
                    <li class="quiz-list__item">
                      <input type="checkbox" name="motraz" id="motraz" class="quiz-list__input">
                      <label for="motraz" class="quiz-list__card">
                        <div class="quiz-list__images">
                          <img src="../images/popup-img-03.webp" alt="Отдельно матрац">
                        </div>
                        <p class="quiz-list__text">Отдельно матрац</p>
                      </label>
                    </li>
                  </ul>
                </div>
                <div class="quiz__content-buttons">
                  <button class="quiz__content-btn close-popup">закрыть</button>
                  <button class="quiz__content-btn quiz-next">далее</button>
                </div>
              </div>
              <div class="quiz__footer"></div>
            </div>
          </div>
        </div>


        <div class="quiz">
          <div class="quiz__wrapper">
            <div class="quiz__column">
              <div class="quiz__aside">
                <div class="quiz__aside-column">
                  <p class="quiz__aside-text">До получения подарка осталось ответить на</p>
                  <p class="quiz__aside-number">4 ВОПРОСа</p>
                </div>
                <div class="quiz__aside-column">
                  <div class="quiz__aside-image">
                    <img src="../images/popup-img.webp" alt="подарок">
                  </div>
                </div>
              </div>
            </div>
            <div class="quiz__column quiz-content">
              <div class="quiz__header">
                <a href="#" class="quiz__link close-popup">x</a>
              </div>
              <div class="quiz__content">
                <div class="quiz__content-top">
                  <h2 class="quiz__content-title">Укажите размер спального места.</h2>
                  <div class="quiz__content-numbers">
                    <span class="quiz__content-number">02/</span>
                    <span class="quiz__content-number">06</span>
                  </div>
                </div>
                <div class="quiz__content-box">
                  <ul class="quiz__content-list quiz-list">
                    <li class="quiz-list__item">
                      <input type="checkbox" name="size" id="140x200" class="quiz-list__input">
                      <label for="140x200" class="quiz-list__card">
                        <div class="quiz-list__images">
                          <img src="../images/popup2-img-01.webp" alt="140 см х 200 см">
                        </div>
                        <p class="quiz-list__text">140 см х 200 см</p>
                      </label>
                    </li>
                    <li class="quiz-list__item">
                      <input type="checkbox" name="size" id="160x200" class="quiz-list__input">
                      <label for="160x200" class="quiz-list__card">
                        <div class="quiz-list__images">
                          <img src="../images/popup2-img-02.webp" alt="140 см х 200 см">
                        </div>
                        <p class="quiz-list__text">140 см х 200 см</p>
                      </label>
                    </li>
                    <li class="quiz-list__item">
                      <input type="checkbox" name="size" id="180x200" class="quiz-list__input">
                      <label for="180x200" class="quiz-list__card">
                        <div class="quiz-list__images">
                          <img src="../images/popup2-img-03.webp" alt="140 см х 200 см">
                        </div>
                        <p class="quiz-list__text">140 см х 200 см</p>
                      </label>
                    </li>
                    <li class="quiz-list__item">
                      <input type="checkbox" name="size" id="200x200" class="quiz-list__input">
                      <label for="200x200" class="quiz-list__card">
                        <div class="quiz-list__images">
                          <img src="../images/popup2-img-04.webp" alt="200 см х 200 см">
                        </div>
                        <p class="quiz-list__text">200 см х 200 см</p>
                      </label>
                    </li>
                    <li class="quiz-list__item">
                      <label for="variant" class="quiz-list__card quiz-list__card--wrap">
                        <p class="quiz-list__text quiz-list__text--left">Свой вариант:</p>
                        <input type="text" class="quiz-list__item-text-input" name="input-variant" id="variant">
                      </label>
                    </li>

                  </ul>
                </div>
                <div class="quiz__content-buttons">
                  <button class="quiz__content-btn quiz-prev">назад</button>
                  <button class="quiz__content-btn quiz-next">далее</button>
                </div>
              </div>
              <div class="quiz__footer"></div>
            </div>
          </div>
        </div>


        <div class="quiz">
          <div class="quiz__wrapper">
            <div class="quiz__column">
              <div class="quiz__aside">
                <div class="quiz__aside-column">
                  <p class="quiz__aside-text">До получения подарка осталось ответить на</p>
                  <p class="quiz__aside-number">3 ВОПРОСа</p>
                </div>
                <div class="quiz__aside-column">
                  <div class="quiz__aside-image">
                    <img src="../images/popup-img.webp" alt="подарок">
                  </div>
                </div>
              </div>
            </div>
            <div class="quiz__column quiz-content">
              <div class="quiz__header">
                <a href="#" class="quiz__link close-popup">x</a>
              </div>
              <div class="quiz__content">
                <div class="quiz__content-top">
                  <h2 class="quiz__content-title">Когда планируете покупку?</h2>
                  <div class="quiz__content-numbers">
                    <span class="quiz__content-number">03/</span>
                    <span class="quiz__content-number">06</span>
                  </div>
                </div>
                <div class="quiz__content-box">
                  <ul class="quiz__content-list quiz-checklist">
                    <li class="quiz-checklist__item">
                      <input type="checkbox" name="data" id="erly" class="quiz-checklist__input">
                      <label for="erly" class="quiz-checklist__text">В этом месяце</label>
                    </li>
                    <li class="quiz-checklist__item">
                      <input type="checkbox" name="data" id="threeMounth" class="quiz-checklist__input">
                      <label for="threeMounth" class="quiz-checklist__text">В течении 3х месяцев</label>
                    </li>
                    <li class="quiz-checklist__item">
                      <input type="checkbox" name="data" id="sixMounth" class="quiz-checklist__input">
                      <label for="sixMounth" class="quiz-checklist__text">В течении полугода</label>
                    </li>
                    <li class="quiz-checklist__item">
                      <input type="checkbox" name="data" id="simply" class="quiz-checklist__input">
                      <label for="simply" class="quiz-checklist__text">Просто хочу узнать стоимость</label>
                    </li>
                  </ul>
                </div>
                <div class="quiz__content-buttons">
                  <button class="quiz__content-btn quiz-prev">назад</button>
                  <button class="quiz__content-btn quiz-next">далее</button>
                </div>
              </div>
              <div class="quiz__footer"></div>
            </div>
          </div>
        </div>


        <div class="quiz">
          <div class="quiz__wrapper">
            <div class="quiz__column">
              <div class="quiz__aside">
                <div class="quiz__aside-column">
                  <p class="quiz__aside-text">До получения подарка осталось ответить на</p>
                  <p class="quiz__aside-number">2 ВОПРОСа</p>
                </div>
                <div class="quiz__aside-column">
                  <div class="quiz__aside-image">
                    <img src="../images/popup-img.webp" alt="подарок">
                  </div>
                </div>
              </div>
            </div>
            <div class="quiz__column quiz-content">
              <div class="quiz__header">
                <a href="#" class="quiz__link close-popup">x</a>
              </div>
              <div class="quiz__content">
                <div class="quiz__content-top">
                  <h2 class="quiz__content-title">Ваш город</h2>
                  <div class="quiz__content-numbers">
                    <span class="quiz__content-number">04/</span>
                    <span class="quiz__content-number">06</span>
                  </div>
                </div>
                <div class="quiz__content-box">
                  <input type="text" class="quiz__content-input">
                </div>
                <div class="quiz__content-buttons">
                  <button class="quiz__content-btn quiz-prev">назад</button>
                  <button class="quiz__content-btn quiz-next">далее</button>
                </div>
              </div>
              <div class="quiz__footer"></div>
            </div>
          </div>
        </div>


        <div class="quiz">
          <div class="quiz__wrapper">
            <div class="quiz__column">
              <div class="quiz__aside">
                <div class="quiz__aside-column">
                  <p class="quiz__aside-text">До получения подарка осталось ответить на</p>
                  <p class="quiz__aside-number">1 ВОПРОС</p>
                </div>
                <div class="quiz__aside-column">
                  <div class="quiz__aside-image">
                    <img src="../images/popup-img.webp" alt="подарок">
                  </div>
                </div>
              </div>
            </div>
            <div class="quiz__column quiz-content">
              <div class="quiz__header">
                <a href="#" class="quiz__link close-popup">x</a>
              </div>
              <div class="quiz__content">
                <div class="quiz__content-top">
                  <h2 class="quiz__content-title">Как с Вами связаться?</h2>
                  <div class="quiz__content-numbers">
                    <span class="quiz__content-number">05/</span>
                    <span class="quiz__content-number">06</span>
                  </div>
                </div>
                <div class="quiz__content-box">
                  <ul class="quiz__content-list quiz-checklist">
                    <li class="quiz-checklist__item">
                      <input type="checkbox" name="data" id="phone" class="quiz-checklist__input">
                      <label for="phone" class="quiz-checklist__text">Позвонить</label>
                    </li>
                    <li class="quiz-checklist__item">
                      <input type="checkbox" name="data" id="WhatsApp" class="quiz-checklist__input">
                      <label for="WhatsApp" class="quiz-checklist__text">What’s App</label>
                    </li>
                    <li class="quiz-checklist__item">
                      <input type="checkbox" name="data" id="telegram" class="quiz-checklist__input">
                      <label for="telegram" class="quiz-checklist__text">Телеграм</label>
                    </li>
                    <li class="quiz-checklist__item">
                      <input type="checkbox" name="data" id="viber" class="quiz-checklist__input">
                      <label for="viber" class="quiz-checklist__text">Viber</label>
                    </li>
                  </ul>
                </div>
                <div class="quiz__content-buttons">
                  <button class="quiz__content-btn quiz-prev">назад</button>
                  <button class="quiz__content-btn quiz-next">далее</button>
                </div>
              </div>
              <div class="quiz__footer"></div>
            </div>
          </div>
        </div>


        <div class="quiz">
          <div class="quiz__wrapper">
            <div class="quiz__column">
              <div class="quiz__aside">
                <div class="quiz__aside-column">                  
                  <p class="quiz__aside-number">поздравляем</p>
                  <p class="quiz__aside-text">получите ваш подарок при заказе</p>
                </div>
                <div class="quiz__aside-column">
                  <div class="quiz__aside-image">
                    <img src="../images/popup-img.webp" alt="подарок">
                  </div>
                </div>
              </div>
            </div>
            <div class="quiz__column quiz-content">
              <div class="quiz__header">
                <a href="#" class="quiz__link close-popup">x</a>
              </div>
              <div class="quiz__content">
                <div class="quiz__content-top">
                  <h2 class="quiz__content-title">выберите подарок</h2>
                  <div class="quiz__content-numbers">
                    <span class="quiz__content-number">06/</span>
                    <span class="quiz__content-number">06</span>
                  </div>
                </div>
                <div class="quiz__content-box">
                  <ul class="quiz__content-list quiz-list">
                    <li class="quiz-list__item">
                      <input type="checkbox" name="size" id="pillow" class="quiz-list__input">
                      <label for="pillow" class="quiz-list__card">
                        <div class="quiz-list__images">
                          <img src="../images/popup-prize-01.webp" alt="Подушка">
                        </div>
                        <p class="quiz-list__text">Подушка</p>
                      </label>
                    </li>
                    <li class="quiz-list__item">
                      <input type="checkbox" name="size" id="nothing" class="quiz-list__input">
                      <label for="nothing" class="quiz-list__card">
                        <div class="quiz-list__images">
                          <img src="../images/popup-prize-02.webp" alt="ничего">
                        </div>
                        <p class="quiz-list__text">Спасибо, ничего не надо</p>
                      </label>
                    </li> 
                  </ul>
                </div>
                <div class="quiz__content-buttons">
                  <button class="quiz__content-btn quiz-prev">назад</button>
                  <button class="quiz__content-btn quiz-next">далее</button>
                </div>
              </div>
              <div class="quiz__footer"></div>
            </div>
          </div>
        </div>


        <div class="quiz">
          <div class="quiz__wrapper">
            <div class="quiz-content quiz-content--final">
              <div class="quiz__header">
                <a href="#" class="quiz__link close-popup">x</a>
              </div>
              <div class="quiz__content quiz__final">
                <div class="quiz__final-top">
                 <p class="quiz__final-text quiz__final-text--bold">спасибо за ответы!</p>
                 <p class="quiz__final-text quiz__final-text--bold">оставьте свой телефон. мы вышлем на него расчет стоимости вашего заказа</p>
                 <p class="quiz__final-text">+ каталог и закрепим за вами подарок</p>
                </div>
                <div class="quiz__content-box">
                  <form action="#" class="quiz__content-form">
                    <label>
                      Имя
                      <input type="text" name="userName" class="quiz__content-form-item">
                    </label>
                    <label>
                      номер телефона
                      <input type="text" name="userPhone" class="quiz__content-form-item">
                    </label>
                  </form>
                </div>
                <div class="quiz__content-buttons">
                  <button class="quiz__content-btn quiz-prev quiz__final-btn">назад</button>
                  <button class="quiz__content-btn quiz-next quiz__final-btn">получить результаты расчета</button>
                </div>
              </div>
              <div class="quiz__footer"></div>
            </div>
          </div>
        </div>


        <div class="quiz">
          <div class="quiz__end-slide end-slide">
            <div class="end-slide__wrapper">
              <div class="end-slide__top">
                <img src="../images/popup-img-ok.webp" alt="ok">
              </div>
              <div class="end-slide__content">
                <p class="end-slide__text">
                  спасибо!
                </p>
                <p class="end-slide__text">Ваша заявка отправлена.</p>
                <p class="end-slide__text">в ближайшее время мы с вами свяжемся!</p>
              </div>
              <button class="end-slide__btn close-popup">ok</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>